/* CONTENT ALIGNMENT */

.aligncenter,
.alignnone,
.alignright,
.alignleft {
  display: block;
  margin: 1.6em auto;
  clear: both;
}
.wp-caption {
  color: #555;
}
.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  padding: 0;
}
.wp-caption-text {
  font-size: 14px;
  margin: 0;
  padding: 0.6em 0.1em 0;
  color: #c0c0c0;
}
.wp-caption.aligncenter {
  text-align: center;
}

/* CUSTOM */

.text-portfolio ul li {
  line-height: 0.9em;
  padding: 2px 0;
  margin: 5px 0;
}

.text-portfolio ul li span.fa-li {
  line-height: 18px;
}

.text-portfolio ul li a {
  text-decoration: none;
  border-bottom: 1px dashed;
  font-weight: bold;
  font-size: 1em;
}

.text-portfolio ul li h4 {
  font-size: 0.95em;
  font-weight: bold;
  margin-bottom: 4px;
  margin-top: 0;
  color: #111;
  line-height: 14px;
}

.text-portfolio ul li h4 span,
.text-portfolio ul li em {
  color: white;
  float: right;
  font-size: 0.85em;
  font-weight: bold;
  display: inline-block;
  font-family: Lato, Arial, serif;
  font-variant: all-petite-caps;
  line-height: 12px;
  padding: 1px 0.4em 3px 0.4em;
  background: #00b49c;
  border-radius: 2px;
  margin-top: 2px;
  font-style: normal;
  text-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

.text-portfolio ul li em {
  float: none;
  margin-left: 5px;
  position: relative;
  top: 1px;
}

.text-portfolio ul li em i {
  margin-right: 2px;
}

.stamp {
  float: left;
  width: 114px;
  height: 134px;
  background: url(../images/bckg/stamp.png) 0 0 no-repeat;
  background-size: contain;
  position: relative;
}

.letter-info {
  float: right;
}

.letter-info h4 {
  margin: 0.5em 0 0 0;
  font-size: 2.2em;
  line-height: 120%;
  font-family: "Sacramento", cursive;
  color: #333;
  text-align: right;
}

.letter-info p {
  margin: 0.6em 0 0 0;
  color: #aaa;
  font-size: 0.8em;
  line-height: 15px;
  text-align: right;
}

.stamp .img-wrap {
  background: #65a56f;
  height: 114px;
  width: 94px;
  position: relative;
  left: 10px;
  top: 10px;
  margin: 0;
  overflow: hidden;
}

.stamp img {
  left: 25px;
  display: block;
  width: 84px;
  height: 84px;
  position: absolute;
  top: 30px;
}

.text-portfolio ul li p {
  font-family: Lato, Arial, serif;
  margin: 3px 0;
  font-size: 0.75em;
  color: #999;
  line-height: 1.2em;
}

.w420 .stamp {
  float: left;
}

.w420 .letter-info {
  float: right;
}

.service p {
  margin-top: 0;
  font-family: Lato, Arial, serif;
  font-size: 0.75em;
  color: #999;
  line-height: 1.8em;
}

.service p a {
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px dashed;
}

.service h4 {
  margin-top: 0.7em;
  margin-bottom: 0;
}

.cover {
  background-position: center bottom;
}

.cover h3 {
  font-weight: bold;
}

input:not([type="submit"]):not([type="button"]):not([type="file"]):not([type="radio"]):not([type="checkbox"]),
.w420 .contact-form input,
.w420 .contact-form textarea,
textarea,
select {
  width: 100% !important;
}

.work-desc a {
  text-decoration: none;
  border-bottom: 1px dashed;
  font-weight: bold;
}

.history-unit .work-desc h4 {
  margin-top: 7px;
}

.history-unit .work-desc p {
  margin-bottom: 0;
}

.content h3 {
  margin: 1.65em 0 1.75em 0;
}

.social {
  margin-bottom: 0;
}

.contact-form textarea {
  float: none;
  width: 100% !important;
}

#twitter-list {
  display: none;
}

.cover .widget-twitter a {
  color: #5ec3df;
  text-decoration: none;
  border-bottom: 1px dashed;
}

.cover .widget-twitter a:hover {
  color: #aee1ef;
  border-bottom: 1px solid;
}

.cover .widget-twitter a i.fab {
  position: absolute;
  top: 15px;
  left: 15px;
}

.cover .widget-twitter ul {
  padding: 0;
}

.cover .widget-twitter ul li {
  margin-left: 50px;
  line-height: 15px;
  padding: 7px 0 9px 0;
  font-family: Lato, Arial, serif;
  font-size: 0.85em;
  line-height: 100%;
  font-weight: normal;
  position: relative;
}

.cover .widget-twitter ul li p.tweet {
  display: inline-block;
  float: left;
  position: absolute;
  top: 0;
  height: 100%;
  max-width: 73%;
  width: 100%;
}

.cover .widget-twitter ul li p.timePosted {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 15px;
}

.cover .widget-twitter ul li div.user {
  float: left;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.cover .widget-twitter ul li div.user a {
  border-bottom: none;
}

.cover .widget-twitter ul li div.user a img {
  height: 35px;
  width: 35px;
}

.cover .widget-twitter ul li div.user > div {
  display: none;
}

.cover .widget-twitter ul li p.tweet a {
  font-weight: bold;
  border-bottom: none;
}

/* TABLETS */
@media screen and (min-width: 768px) {
  .alignnone {
    margin: 3em 0;
  }
  .aligncenter {
    margin: 2.2em auto;
  }
  .alignleft,
  .alignright {
    max-width: 50%;
  }
  .alignright {
    float: right;
    margin: 0.4em 0 1em 2em;
  }
  .alignleft {
    float: left;
    margin: 0.4em 2em 1em 0;
  }
}
