/* BODY BG */
body {
  background: #2b323f;
  background-image: url(../../../images/bckg/body-bg/wood-7.jpg);
  background-size: cover;
  background-position: center 40%;
  background-repeat: repeat-x;
}
